.navbar{
  background-color: rgb(255, 255, 255)!important;
}
.menuitem{
  cursor: pointer;
  font-size: large;
  font-weight: bold!important;
  color: rgb(92, 86, 86)!important;
}
.logo{
  width: 500;
  height: 500;
}
