.navbar{
  background-color: rgb(122, 113, 117)!important;
}
.menuitem{
  cursor: pointer;
  font-size: large;
  font-weight: bold!important;
  color: rgb(255, 255, 255)!important;
}
.logo{
  width: 500;
  height: 500;
}